
@{
    ViewBag.Title = "Attendance";
}
<br/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Week
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">1st May 2018</a>
                    <a class="dropdown-item" href="#">2st May 2018</a>
                    <a class="dropdown-item" href="#">3st May 2018</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br />
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr class="thead-dark">
                <th>Date</th>
                <th>Check-in</th>
                <th>Check-out</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <th>5/15/2018</th>
                <th>08:30:14</th>
                <th>15:45:00</th>
            </tr>
            <tr class="table-success">
                <th>5/14/2018</th>
                <th>08:41:45</th>
                <th>15:45:00</th>
            </tr>
            <tr class="table-warning">
                <th>5/13/2018</th>
                <th>09:32:14</th>
                <th>15:45:00</th>
            </tr>
            <tr class="table-danger">
                <th>5/12/2018</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="table-danger">
                <th>5/11/2018</th>
                <th>08:30:14</th>
                <th>10:45:43</th>
            </tr>
        </tbody>
    </table>
</div>