@model TreeAttendance.Models.StudentModel
@{
    ViewBag.Title = "Index";
}

<br />

<p style=" text-align: right;">Hello, Student!</p>



<!-- Create Attendance and Overall button and link them to new page -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="~/StudentHome/Attendance/@Model.Id"><div class="btn btn-success my-2 my-sm-0">Attendance</div></a>
    <a class="navbar-brand" href="~/StudentHome/OverallPerformance/@Model.Id"><div class="btn btn-success my-2 my-sm-0">Reports</div></a>
    <a class="navbar-brand" href="~/StudentHome/Store"><div class="btn btn-success my-2 my-sm-0">Store</div></a>
    <a class="navbar-brand" href="~/StudentHome/Rules"><div class="btn btn-success my-2 my-sm-0">Rules</div></a>
    <a class="navbar-brand"><div class="btn btn-success my-2 my-sm-0">Tree Collection</div></a>
</nav>

<div class="row">
    <div class="col text-center ">
        <img class="tree-set blur" src="~/Content/img/tree1-1-01.png" />
        <div class="label">Stage 1</div>
    </div>
    <div class="col text-center ">
        <img class="tree-set blur" src="~/Content/img/tree1-2-01.png" />
        <div class="label">Stage 2</div>
    </div>
    <div class="col text-center">
        <img class="tree-set" src="~/Content/img/treeWithAnimals.png" />
        <div class="label">Stage 3</div>
    </div>
    <div class="col text-center ">
        <img class="tree-set blur" src="~/Content/img/tree1-4-01.png" />
        <div class="label">Stage 4</div>
    </div>
</div>
<div class="row">
    <img src="~/Content/img/progress-bar.png" width="1300" height="20" />
</div>
<div class="row">
    <p style="font-size: 20px;">Congratulation, your tree is at state 3.</p>
</div>
<div class="row">
    <p style="font-size: 20px;">Leaves earned: 145🍂, leaves needed for next stage: 55🍂, </p>
</div>

@*</body>

    </html>*@
