
@{
    ViewBag.Title = "Index";
}

<br />

<p style=" text-align: right;">Hello, Student!</p>

@*<html>
    <head>
        <style>
            /*Background color*/
            body {
                background-color: none;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            /*text to the right*/
            li {
                float: right;
            }

            li a {
                display: block;
                padding: 16px;
                background-color: none;
            }


            /* Create two equal columns that floats next to each other */
            .column {
                float: left;
                width: 50%;
                padding: 10px;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>
    <body>*@

<!-- Create Attendance and Overall button and link them to new page -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="~/StudentHome/Attendance"><div class="btn btn-primary my-2 my-sm-0">Attendance</div></a>
    <a class="navbar-brand" href="~/StudentHome/OverallPerformance"><div class="btn btn-primary my-2 my-sm-0">Reports</div></a>
    <a class="navbar-brand" href="~/StudentHome/Store"><div class="btn btn-primary my-2 my-sm-0">Store</div></a>
    <a class="navbar-brand" href="~/StudentHome/Rules"><div class="btn btn-primary my-2 my-sm-0">Rules</div></a>
</nav>

<div class="row">
    <!-- Create current trees, with the message -->
    <div class="col-3">
        <img src="~/Content/img/tree4.png" width="1300" height="400" />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p style="font-size: 20px; text-align: center;">Stage 1</p>
    </div>
    <div class="col-3">
        <p style="font-size: 20px; text-align: center;">Stage 2</p>
    </div>
    <div class="col-3">
        <p style="font-size: 20px; text-align: center;">Stage 3</p>
    </div>
    <div class="col-3">
        <p style="font-size: 20px; text-align: center;">Stage 4</p>
    </div>
</div>
<div class="row">
    <img src="~/Content/img/progress-bar.png" width="1300" height="20" />
    <p style="font-size: 20px;">Congratulation, your tree is at state 3.</p>
    <p style="font-size: 20px;">To the next state, leaves earned: 22🍂</p>
</div>

    @*</body>

        </html>*@
