
@{
    ViewBag.Title = "Index";
}

<br />

<p style=" text-align: right;">Hello, Student!</p>

<html>
<head>
    <style>
        /*Background color*/
        body {
            background-color: none;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        /*text to the right*/
        li {
            float: right;
        }

        li a {
            display: block;
            padding: 16px;
            background-color: none;
        }


        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>

    //Create Attendance and Overall button and link them to new page
    <ul>
        <li><a href="~/AdminHome/Reports" class="btn btn-outline-primary" role="button">Attendace</a></li>
        <li><a href="~/AdminHome/Reports" class="btn btn-outline-primary" role="button">Overall Performance</a></li>

    </ul>
    <div class="row">
        // Create first column for the current tree, with the message
        <div class="column">
            <img src="~/Content/img/smalltree.png " width="400" height="400" />
            <p style="font-size: 20px;">Congratulation, your tree is at state 2.</p>
            <p style="font-size: 20px;">To the next state, leaves earned: 22🍂</p>
        </div>
        // Create a second column with the next stage preview
        <div class="column">
            <img src="~/Content/img/bigtree.png" width="400" height="400" />
            <p style="font-size: 20px;">Next state !!!</p>
        </div>
    </div>

</body>

</html>
