@{
    ViewBag.Title = "Student Login";
}

<div class="row justify-content-md-center">
    <div class="col-md-auto" style="display:flex; text-align:center">
        <form class="form-signin">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="Username" class="sr-only">Username</label>
            <input class="form-control" placeholder="Username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <a href="~/StudentHome" class="btn btn-lg btn-primary btn-block">Sign in as Student</a>
        </form>

    </div>
</div>
