
@{
    ViewBag.Title = "Rules";
}

<div class="container">
    <img src="~/Content/img/background.jpg" width="1010" height="800" />
    <div style="position: absolute;top: 45%;left: 50%;transform: translate(-50%, -50%);font-size: 20px; color: #3c81d1;">
        <h3>Earning Leaves</h3>
        <br/>
        <p>1. You earn 1 leaf every half hour of staying at school</p>
        <p>2. Everytime you arrive early, you get 2 leaves as bonus</p>
        <p>3. You can use your leaves to buy animal decorations for your tree at the Store page</p>
        <br/>
        <h3>Reset Tree</h3>
        <br/>
        <p>1. Your tree will be reset every month</p>
        <p>2. The old tree will go to your old tree collection.</p>
        <p>3. Once your tree is reset it will not affect your current performance</p>
    </div>
</div>