
@{
    ViewBag.Title = "Rules";
}

<div class="container">
    <img src="~/Content/img/background.jpg" style="width:100%">
    <div style="position: absolute;top: 45%;left: 50%;transform: translate(-50%, -50%);font-size: 20px; color: #3c81d1;">

        <br />
        <br />
        <br />
        <h3>Leaves</h3>
        <br/>
        <p>1. You earn 1 leaf every half hour of staying at school</p>
        <p>2. Everytime you arrive early, you get 2 leaves as bonus</p>
        <p>3. You can use earned leaves to buy decorations for your tree at Store page</p>
        <p>4. Updating tree stages does not cost leaves </p>
        <br/>
        <h3>Tree</h3>
        <br/>
        <p>1. You will be given a young tree at the start of every month</p>
        <p>2. Your tree will be reset at the end of every month</p>
        <p>3. Every tree has four stages which updates when every 60 leaves earned.</p>
        <p>4. The old tree will go to your old tree collection</p>
    </div>
</div>