
@{
    ViewBag.Title = "Store";
}
<br/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/StudentHome">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Store</li>
    </ol>
</nav>
<div class="page-header">Welcome to the Store!</div>

<p style=" text-align: right;">Your current leaves: 55🍂</p>
<br />
<div class="text-center">Level 1 </div>
<div class="row">
    <!-- Create first row, with the message -->
    <div class="col-3" align="center">
        <img src="~/Content/img/rabbit.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Rabbit</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">6🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/chipmunk.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Chipmunk</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">7🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/chicken.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Chicken</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">8🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/deer.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Deer</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">9🍂</div></a>
    </div>
</div>
<br/>
<div class="text-center">Level 2</div>
<div class="row">
    <!-- Create second row, with the message -->
    <div class="col-3" align="center">
        <img src="~/Content/img/monkey.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Monkey</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">10🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/bird.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Bird</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">11🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/bee.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Bee</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">12🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/sheep.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Sheep</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">13🍂</div></a>
    </div>
</div>
<br />
<div class="text-center">Level 3</div>
<div class="row">
    <!-- Create third row, with the message -->
    <div class="col-3" align="center">
        <img src="~/Content/img/flower.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Flower</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">14🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/bush.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Bush</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">15🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/apple.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Apple</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">16🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/fence.jpg" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Fence</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">17🍂</div></a>
    </div>
</div>
<br />
<div class="text-center">Level 4</div>
<div class="row">
    <!-- Create fourth row, with the message -->
    <div class="col-3" align="center">
        <img src="~/Content/img/snail.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Snail</p>
        <a class="navbar-brand"><div class="btn btn-secondary my-2 my-sm-0 disabled" >18🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/snake.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Snake</p>
        <a class="navbar-brand"><div class="btn btn-secondary my-2 my-sm-0 disabled">19🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/butterfly.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Butterfly</p>
        <a class="navbar-brand"><div class="btn btn-secondary my-2 my-sm-0 disabled" >20🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/house.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">House</p>
        <a class="navbar-brand"><div class="btn btn-secondary my-2 my-sm-0 disabled">21🍂</div></a>
    </div>
</div>

