
@{
    ViewBag.Title = "Store";
}

<h2>Welcome to the Store!</h2>

<p style=" text-align: right;">Your current leaves: 55🍂</p>
<div class="row">
    <!-- Create first column, with the message -->
    <div class="col-3" align="center">
        <img src="~/Content/img/rabbit.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Rabbit</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">5🍂</div></a>
    </div>
    <!-- Create a second column -->
    <div class="col-3" align="center">
        <img src="~/Content/img/chipmunk.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Chipmunk</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">6🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/chicken.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Chicken</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">7🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/deer.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Deer</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">8🍂</div></a>
    </div>
    <div class="col-3" align="center">
        <img src="~/Content/img/monkey.png" width="150" height="150" />
        <p style="font-size: 14px; margin-bottom: 0;">Monkey</p>
        <a class="navbar-brand"><div class="btn btn-primary my-2 my-sm-0">10🍂</div></a>
    </div>
</div>

