@{
    ViewBag.Title = "Trees Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Trees">Student Trees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tree Details</li>
    </ol>
</nav>
<div class="page-header">Tree Details</div>
<br/>
<div class="row">
    <div class="col-6">
        <h4>
            Current Tree Stage: 3
        </h4>
        <img src="~/Content/img/tree1-3-01.png" class="tree-img" />
    </div>

</div>
<br />
<div class="row">
    <div class="col-6">

        <h4>
            Current Leaf Count: 9 🍂
        </h4>           
    </div>
</div>
<br />
<div>
    <a href="~/Trees/Edit/1" class="btn btn-outline-primary">Edit Tree</a>
</div>





