@{
    ViewBag.Title = "Trees Details";
}
<br />
<br />
<h4>Prototype</h4>
<div>
    <img src="~/Content/img/TreesDetails.png" />
</div>
<br /><br />
<h4>Current Development</h4>
<br />
<div>
    <a href="~/Trees/Edit/1" class="btn btn-outline-primary btn-sm" style="width: 200px">Edit Tree</a>
</div>



