@model int
@{
    ViewBag.Title = "Trees Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Trees">Student Trees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Tree</li>
    </ol>
</nav>
<div class="page-header">Bonus Leaves</div>
<br /><br /><br />
<div class="row justify-content-lg-center">
    <div class="col-lg-auto" style="display:flex; text-align:center">
        <div class="col col-custom">
            @using (Html.BeginForm())
            {
                <p class="alert alert-info">Reward this student with <strong>@Model</strong> bonus leaves?</p>
                <br />
                <div>
                    <input type="submit" value="Confirm" class="btn btn-success btn-block">
                </div>
            }
        </div>
    </div>
</div>