@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Calendar/Index"><h5>Calendar</h5></a>
    </li>
</ul>



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Trees">Trees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>

<div class="row">
    <div class="col-3" align="center" style="padding-bottom: 50px">
        <a href="~/Trees/Details/1">
            <img src="~/Content/img/tree1-3-01.png" width="200" height="200" />
            <br />
            <div class="label">
                Allen
            </div>
        </a>
    </div>
    <div class="col-3" align="center" style="padding-bottom: 50px">
        <a href="~/Trees/Details/1">
            <img src="~/Content/img/tree1-2-01.png" width="200" height="200" />
            <br />
            <div class="label">
                Christina
            </div>
        </a>
    </div>
    <div class="col-3" align="center" style="padding-bottom: 50px">
        <a href="~/Trees/Details/1">
            <img src="~/Content/img/tree1-3-01.png" width="200" height="200" />
            <br />
            <div class="label">
                Mike
            </div>
        </a>
    </div>
    <div class="col-3" align="center" style="padding-bottom: 50px">
        <a href="~/Trees/Details/1">
            <img src="~/Content/img/tree1-4-01.png" width="200" height="200" />
            <br />
            <div class="label">
                Jake
            </div>
        </a>
    </div>
</div>



<br />
