@{
    ViewBag.Title = "Admin Home";
}
<br />
<br />
<h4>Prototype</h4>
<div>
    <img src="~/Content/img/AdminHome.png" />
</div>
<br /><br />
<h4>Current Development</h4>
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
<div class="row">
    <div style="margin-left: 15px; margin-right: 15px">
        <a href="~/Students/Index" class="btn btn-outline-primary btn-lg" style="width: 200px">Students</a>
    </div>
    <div style="margin-left: 15px; margin-right: 15px">
        <a href="~/Trees/Index" class="btn btn-outline-primary btn-lg" style="width: 200px">Trees</a>
    </div>    
    <div style="margin-left: 15px; margin-right: 15px">
        <a href="~/Attendance/Index" class="btn btn-outline-primary btn-lg" style="width: 200px">Attendance</a>
    </div>    
    <div style="margin-left: 15px; margin-right: 15px">
        <a href="~/Reports/Index" class="btn btn-outline-primary btn-lg" style="width: 200px">Reports</a>
    </div>
</div>



