@{
    ViewBag.Title = "Admin Home";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="~/AdminHome/Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Students/Index">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index">Attendance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index">Trees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Calendar">Calendar</a>
    </li>
</ul>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
@*<div class="row">
    <div class="col-sm-2">
        <a href="~/Students/Index" class="btn btn-outline-primary btn" style="width: 150px">Students</a>
    </div>
    <div class="col-sm-2">
        <a href="~/Trees/Index" class="btn btn-outline-primary btn" style="width: 150px">Trees</a>
    </div>
    <div class="col-sm-2">
        <a href="~/Attendance/Index" class="btn btn-outline-primary btn" style="width: 150px">Attendance</a>
    </div>
    <div class="col-sm-2">
        <a href="~/AdminHome/ReportsIndex" class="btn btn-outline-primary btn" style="width: 150px">Reports</a>
    </div>
    <div class="col-sm-2">
        <a href="~/AdminHome/Calendar" class="btn btn-outline-primary btn" style="width: 150px">School Calendar</a>
    </div>
</div>*@
<br/>
<h4>Attendance Statistics over the Last 5 Days</h4>
<div class="row" style="padding: 15px">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Days Attended</th>
                <th>Hours Attended</th>
                <th>% of Hours Attended</th>
                <th>% change</th>
                <th>Today's Check-in</th>
                <th>Today's Check-out</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Allen</td>
                <td>5</td>
                <td>35</td>
                <td>100%</td>
                <td>+5%</td>
                <td>8:35AM</td>
                <td></td>
            </tr>
            <tr>
                <td>Allen</td>
                <td>5</td>
                <td>35</td>
                <td>100%</td>
                <td>+5%</td>
                <td>8:35AM</td>
                <td></td>
            </tr>
            <tr>
                <td>Allen</td>
                <td>5</td>
                <td>35</td>
                <td>100%</td>
                <td>+5%</td>
                <td>8:35AM</td>
                <td></td>
            </tr>
            <tr>
                <td>Allen</td>
                <td>5</td>
                <td>35</td>
                <td>100%</td>
                <td>+5%</td>
                <td>8:35AM</td>
                <td></td>
            </tr>
            <tr>
                <td>Allen</td>
                <td>5</td>
                <td>35</td>
                <td>100%</td>
                <td>+5%</td>
                <td>8:35AM</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>




