<h1>Nice work, Allen</h1>
<h5>-Chris</h5>
@{
    ViewBag.Title = "Admin Home";
}
<img src="~/Content/img/AdminHome.png" />
<br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin Home</li>
    </ol>
</nav>
<div class="container">
    <div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Students/Index">Manage Students</a>
            </li>
            <li class="nav-item">s
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>

</div>
<br />


