@{
    ViewBag.Title = "Reports";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Calendar"><h5>Calendar</h5></a>
    </li>
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome/Reportsindex">ReportsIndex</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome/Reports">Reports</a></li>

    </ol>
</nav>

<img src="~/Content/img/stdTable1.png" />

<img src="~/Content/img/stdTable2.png" />
<img src="~/Content/img/stdTable3.png" />
<img src="~/Content/img/stdTable4.png" />
<img src="~/Content/img/stdTable5.png" />
<img src="~/Content/img/stdTable6.png" />