@{
    ViewBag.Title = "Reports";
}
<br /><br />
<h4>Current Development</h4>
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Reports</a></li>

    </ol>
</nav>

<br />
<br />
<h4>Prototype</h4>
<div>
    <img src="~/Content/img/reports.png" />
</div>
<br /><br />
<h4>Current Development</h4>
<br />


