@{
    ViewBag.Title = "Students Reports";
}
<br />
<br />
<h4>Student Reports</h4>

<br /><br />
<h4>Current Development</h4>
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Reports</a></li>
        
    </ol>
</nav>

<div class="row" style="margin-top: 70px">
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/boy1.png" width="100" height="100" />
            <br />
            <span>
                Allen
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/girl1.png" width="100" height="100" />
            <br />
            <span>
                Christina
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/boy2.png" width="100" height="100" />
            <br />
            <span>
                Allen
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/girl2.png" width="100" height="100" />
            <br />
            <span>
                Christina
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/boy1.png" width="100" height="100" />
            <br />
            <span>
                Allen
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/girl1.png" width="100" height="100" />
            <br />
            <span>
                Christina
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/boy2.png" width="100" height="100" />
            <br />
            <span>
                Allen
            </span>
        </a>
    </div>
    <div class="col-3" align="center"style="padding-bottom: 50px">
        <a href="~/AdminHome/Reports">
            <img src="~/Content/img/girl2.png" width="100" height="100" />
            <br />
            <span>
                Christina
            </span>
        </a>
    </div>
</div>
<br />
