@{
    ViewBag.Title = "Students";
}
<br />
<br />
<h4>Prototype</h4>
<div>
    <img src="~/Content/img/StudentsDetails.png" />
</div>
<br /><br />
<h4>Current Development</h4>
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item active" aria-current="page">Allen</li>
    </ol>
</nav>
<div class="row">
    <div style="margin-left: 15px; margin-right: 50px">
        <a href="~/Students/Edit/1" class="btn btn-outline-primary" style="width: 200px">Edit Profile</a>
    </div>
    <div class="dropdown" style="margin-right: 50px">
        <button class="btn btn-outline-primary dropdown-toggle" style="width: 200px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item btn" href="#">Attendance</a>
            <a class="dropdown-item btn" href="#">Reports</a>
            <a class="dropdown-item btn" href="#">Tree</a>
        </div>
    </div>
    <div style="margin-left: 15px; margin-right: 50px">
        <a href="~/Students/Delete/1" class="btn btn-outline-danger" style="width: 200px">Remove</a>
    </div>

</div>
<div class="row">
    <div align="center" style="padding:70px">
        <img src="~/Content/img/boy1.png" width="100" height="100" />
        <br />
        <div style="padding: 7px">
            Allen
        </div>
    </div>
</div>

