@model List<TreeAttendance.Models.StudentModel>
@{
    ViewBag.Title = "Students";
}
<br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>


<div class="page-header">Manage Students</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="~/Students/Index">Current Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Noncurrent Students</a>
    </li>
</ul>
<div class="row">

    @{
        if (Model.Count == 0)
        {
            <br />
            <p>No Students in the System</p>
            <br />
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-3" align="center">
                    <a id="@item.Id" href="~/Students/Details/@item.Id">
                        <img src="~/Content/img/@item.ProfilePictureUri" width="100" height="100" />
                        <div class="label">
                            @item.Name
                        </div>
                    </a>
                </div>

            }
        }
        <div class="col-3" align="center">
            <a href="~/Students/Create/">
                <img src="~/Content/img/Add.png" width="80" height="80" />
                <br />
                <div class="label">
                    Create
                </div>
            </a>
        </div>
    }

</div>

<br />