@model List<TreeAttendance.Models.StudentModel>
@{
    ViewBag.Title = "Students Index";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Calendar/Index"><h5>Calendar</h5></a>
    </li>
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>


<div class="page-header">Student Profiles</div>
@*<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="~/Students/Index">Current Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Noncurrent Students</a>
    </li>
</ul>*@
<div class="row">

    @{
        if (Model.Count == 0)
        {
            <br />
            <p>No Students in the System</p>
            <br />
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-3" align="center">
                    <a id="@item.Id" href="~/Students/Read/@item.Id">
                        <img id="profile-img" src="~/Content/img/@item.ProfilePictureUri"/>
                        <div class="label">
                            @item.Name
                        </div>
                    </a>
                </div>

            }
        }
        <div class="col-3" align="center">
            <a href="~/Students/Create/">
                <img src="~/Content/img/Add.png" width="80" height="80" />
                <br />
                <div class="label">
                    Create
                </div>
            </a>
        </div>
    }

</div>

<br />