@model List<TreeAttendance.Models.StudentModel>
@{
    ViewBag.Title = "Students";
}
<br />
<br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
        <li style="padding-left: 600px">
            <div style="height: 5px">
                <a href="~/Students/Create" class="btn btn-outline-primary btn-sm" style="width: 200px">Create a New Student Profile</a>
            </div>
        </li>
    </ol>
</nav>
<div class="container-index">
    <div class="row">

        @{
            if (Model.Count == 0)
            {
                <br />
                <p>No Students in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="col-4" align="center">
                        <a id="@item.Id" href="~/Students/Details/@item.Id">
                            <img src="~/Content/img/@item.ProfilePictureUri" width="100" height="100" />
                            <br />
                            <span>
                                @item.Name
                            </span>
                        </a>
                    </div>

                }
            }
        }

    </div>
</div>
