@model TreeAttendance.Models.StudentModel
@{
    ViewBag.Title = "Students Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="page-header">Student Details</div>
<br />
<br />
<div class="text-center">

        <img class="profile-img rounded-circle" src="/Content/img/@Model.ProfilePictureUri" />
        <div class="label">
            @Model.Name
        </div>
        <br />
        <div>
            <a href="~/Students/Update/@Model.Id" class="btn btn-primary custom">Edit</a>
        </div>
        <br />
        <div>
            <a href="~/Students/Delete/@Model.Id" class="btn btn-danger custom">Remove</a>
        </div>
        <br />
</div>
<br />


