@{
    ViewBag.Title = "Create Attendance";
}
<br /><br />
<h4>Prototype</h4>
<div>
    <img src="~/Content/img/AttendanceCreate.png" />
</div>

<br /><br />
<h4>Current Development</h4>
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item" aria-current="page active">Create a New Record of 5.1.2018</li>
    </ol>
</nav>

<div class="row">
    <div class="col-4">
        <div class="dropdown" style="margin: 15px">
            <button class="btn btn-outline-primary dropdown-toggle" style="width: 200px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Student
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px">
                <a class="dropdown-item btn" href="#">Allen</a>
                <a class="dropdown-item btn" href="#">Christina</a>
                <a class="dropdown-item btn" href="#">Chris</a>
            </div>
        </div>
        <div class="input-group" style="margin: 15px">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Number of Check-ins</span>
            </div>
            <input type="text" class="form-control">
        </div>
        <div class="row" style="margin-left: 15px; margin-top: 30px; margin-bottom: 30px">
            <div style="margin-right: 30px">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success" })
            </div>
            <div style="margin-right: 30px">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>


