@{
    ViewBag.Title = "Attendance Details";
}
<br />
<br />

<h4>Current Development</h4>
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item active" aria-current="page">Allen 5.1.2018</li>
    </ol>
</nav>
<div class="row">
    <div align="center" style="padding:15px">
        <img src="~/Content/img/boy1.png" width="100" height="100" />
        <br />
        <div style="padding: 10px">
            Allen
        </div>
        <div style="padding: 10px">
            5/1/2018
        </div>
    </div>
    <div class="col-lg">
        <div style="margin:50px">
            
                <div class="input-group" style="margin: 30px">
                    <div class="input-group-prepend">
                        <a href="~/Attendance/Details/1">
                        <span class="input-group-text" id="">Go to Another Date</span>
                        </a>
                    </div>
                    <input type="text" class="form-control">
                </div>


        </div>
        <div style="margin:80px">
            <a href="~/Attendance/Delete/1" class="btn btn-outline-danger">Remove This Attendance Record</a>
        </div>
    </div>

</div>
<div>
    <h4>Attendance Details:</h4>
    <br />
</div>
<div class="row">
    <div class="col-3" style="margin: 10px">
        <div class="card" style="width: 250px;">
            <div class="card-body">
                <div style="padding: 15px">Check-in Time: 8:35AM</div>

                <div style="padding: 15px">Check-in Time: 9:35AM</div>
                <br />
                <div>
                    <a href="~/Attendance/Edit/1" class="btn btn-outline-primary btn-sm" style="width: 200px">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="margin: 10px">
        <div class="card" style="width: 250px;">
            <div class="card-body">
                <div style="padding: 15px">Check-in Time: 10:35AM</div>

                <div style="padding: 15px">Check-in Time: 1:35AM</div>
                <br />
                <div>
                    <a href="~/Attendance/Edit/1" class="btn btn-outline-primary btn-sm" style="width: 200px">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="margin: 10px">
        <div class="card" style="width: 250px;">
            <div class="card-body">
                <div style="padding: 15px">Check-in Time: 2:35AM</div>

                <div style="padding: 15px">Check-in Time:</div>
                <br />
                <div>
                    <a href="~/Attendance/Edit/1" class="btn btn-outline-primary btn-sm" style="width: 200px">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>




