@model List<TreeAttendance.Models.SchoolDayModel>
@{
    ViewBag.Title = "Attendance Index by Date";
}
<br />
<br />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin Home</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index by Date</li>
    </ol>

</nav>

<div class="row">
    <div style="margin-left: 15px; margin-right: 600px">
        <h2>Manage Attendance by Date</h2>
    </div>

</div>
<div class="container-index">
    <div class="row">

        @{
            if (Model.Count == 0)
            {
                <br />
                <p>No school day in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="col-4" align="center">
                        <a id="@item.Id" href="~/Attendance/ByDate/@item.Id">
                            <span>
                                @item.Date
                            </span>
                        </a>
                    </div>

                }
            }
        }

    </div>
</div>