@model TreeAttendance.Models.ViewModels.AttendanceByDateViewModel
@using TreeAttendance.Models
@{
    ViewBag.Title = "Index";
}
<div style="background-color:skyblue">
    <br />
    <div class="row">
        <div class="col-9" align="center">
            <h2 class="text-center text-light">@Model.Date.ToString("D")</h2>
            <br />
            <iframe src="http://free.timeanddate.com/clock/i69i8yxu/n234/fs48/fcfff/tct/pct/th1/ts1" frameborder="0" width="123" height="57" allowTransparency="true"></iframe>
            <br /><br />
            <h2 class="text-light">Please Check in below</h2>
        </div>
        <div class="card bg-light" align="center">
            <div class="card-header">Student of the week</div>
            <br />
            <img class="profile-img rounded-circle" src="~/Content/img/boy2.png" />
            <div class="label">
                Mike
            </div>
        </div>


    </div>


    <div class="row">
        @foreach (var item in Model.AttendanceList)
        {
            <div class="col-3" align="center">
                <img class="profile-img rounded-circle" src="~/Content/img/@item.Uri" />
                <br />
                <div class="label">
                    @item.StudentName
                </div>

                @if (item.Attendance.AttendanceCheckIns.Count == 0)
                {
                    <div>
                        <a href="~/Kiosk/CheckIn/@item.Attendance.Id" class="btn btn-success">Check In</a>
                    </div>
                }
                else if (TimeSpan.Compare(item.Attendance.AttendanceCheckIns.Last().CheckOut, SystemGlobals.Instance.DefaultEndTime) != 0)
                {
                    <div>
                        Checked out at:
                    </div>
                    <div>
                        @item.Attendance.AttendanceCheckIns.Last().CheckOut.ToString(@"hh\:mm")
                    </div>
                    <div>
                        <a href="~/Kiosk/CheckIn/@item.Attendance.Id" class="btn btn-success">Check In</a>
                    </div>
                }
                else
                {
                    <div>
                        Checked in at:
                    </div>
                    <div>
                        @item.Attendance.AttendanceCheckIns.Last().CheckIn.ToString(@"hh\:mm")
                    </div>
                    <div>
                        <a href="~/Kiosk/CheckOut/@item.Attendance.Id" class="btn btn-warning">Check Out</a>
                    </div>
                }
            </div>
        }
    </div>
    <br />


    <img src="~/Content/img/forrest.png" width="1110" height="500" />


    <br />
</div>

<hr />
<div>
    <a href="~/Kiosk/SetNewDay" class="btn btn-warning">New Day (for Demo Purposes)</a>
</div>



