@model TreeAttendance.Models.ViewModels.AttendanceByDateViewModel
@using TreeAttendance.Models
@{
    ViewBag.Title = "Index";
}

<br />

<h2>Student of the week</h2>
<div class="col-3" align="center">
    <img class="profile-img" src="~/Content/img/boy1.png" />
    <br />
    <div class="label">
        Mike
    </div>
</div>
<h2>@Model.Date, Check In Below</h2>


<div class="row">
    @foreach (var item in Model.AttendanceList)
    {
        <div class="col-3" align="center">
            <img class="profile-img" src="~/Content/img/@item.Uri" />
            <br />
            <div class="label">
                @item.StudentName
            </div>

            @if (item.Attendance.AttendanceCheckIns.Count == 0)
            {
                <div>
                    <a href="~/Kiosk/CheckIn/@item.Attendance.Id" class="btn btn-success">Check In</a>
                </div>
            }
            else if (TimeSpan.Compare(item.Attendance.AttendanceCheckIns.Last().CheckOut, SystemGlobals.Instance.DefaultEndTime) == -1)
            {
                <div>
                    <a href="~/Kiosk/CheckIn/@item.Attendance.Id" class="btn btn-success">Check In</a>
                </div>
            }
            else
            {
                <div>
                    <a href="~/Kiosk/CheckOut/@item.Attendance.Id" class="btn btn-warning">Check Out</a>
                </div>
            }
        </div>
    }
</div>
<br />
<hr />
<span style="font-size: 30px; color: #990000;">
    Class Forrest
</span>

<img src="~/Content/img/forrest.png" width="1200" height="500" />

<div>
    <a href="~/Kiosk/SetNewDay" class="btn btn-warning">New Day</a>
</div>
