@{
    ViewBag.Title = "Dashboard";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link " href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Calendar/Index"><h5>Calendar</h5></a>
    </li>
</ul>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Calendar</li>
    </ol>
</nav>
<div class="page-header">Calendar</div>

<img  src="~/Content/img/calendar.png" width ="1100", height ="900"/>

<br/>



