@{
    ViewBag.Title = "Dashboard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Calendar</li>
    </ol>
</nav>
<div class="page-header">Calendar</div>


<iframe src="https://calendar.google.com/calendar/embed?src=4h9dggg3eq2k624pqnvp4seueovgkbl4%40import.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="1100" height="800" frameborder="0" scrolling="no"></iframe>
