@{
    ViewBag.Title = "Tree Attendance";
}

<div>
    <div style="background:transparent !important" class="jumbotron text-center">
        <h1 class="display-4">Welcome to Tree Attendance!</h1>
        <p class="lead">An engaging attendance system that builds passion inside out as well as encourages and celebrates excellent attendance.</p>
        <hr class="my-4">
        <img src="~/Content/img/treeTogether.png" class="jumb-img" />
    </div>

    <div class="row row-custom">
        <div class="col-md-4">
            <h2>Grow with Your Tree</h2>
            <p style="height:100px">
                Everyday is a growing day, grow trees while attending classes.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Keep Track of Your Attendance</h2>
            <p style="height:100px">
                Keep Track of your daily check-ins and check-outs.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Review Your Attendance Reports</h2>
            <p style="height:100px">
                Review your monthly performance reports.
            </p>
        </div>
    </div>


    <hr />
    <div>
        <a href="~/Home/ResetApp" class="btn btn-warning">Data Reset</a>
    </div>

</div>
