@{
    ViewBag.Title = "Welcome!";
}

<div class="jumbotron">
    <h1>Middle College High school</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Welcome!
        </p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Let's make progress, together!</p>

    </div>

</div>

<hr />
<div>
    <a href="~/Home/ResetApp" class="btn btn-warning">Data Reset</a>
</div>