
@{
    ViewBag.Title = "Personas";
}

<h2>Personas (for Demo)</h2>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Sarah (Admin)
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
        Yanny (Student)
    </button>
</p>
<div class="collapse" id="collapseExample">

    <img src="~/Content/img/Sarah.png" class="w-50" />   

</div>
<div class="collapse" id="collapseExample2">

    <img src="~/Content/img/Yanny.png" class="w-50"/>
</div>